img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.5;
    transition: transform 0.8s, opacity 0.5s;
}

img:hover{
    opacity: 1;
    transform: scale(1.2);
    border: 1px solid white;
}
